---
import data from "../datas/header.json";
---

<section>
    <div class="name">
        <img src={data.logo} alt="" width="120px" height="120px">
        <a href="">{data.entreprise}</a>
    </div>

    <div class="contact">
        <ul>
            <li><img src={data.mailImage} alt="" width="25px"><a href={`mailto:${data.mail}`}>{data.mail}</a></li>
            <li><img src={data.phoneImage} alt="" width="25px"><a href={`tel:${data.phone}`}>{data.phone}</a></li>
            <li>
                <ul class="social">
                    {data.social.map((i)=>(
                        <li><a href={i.link}><img src={i.image} alt="" width="25px"/></a></li>
                    ))}
                </ul>
            </li>
        </ul>

    </div>

    <nav>
        <ul>
            <li><a href="">Notre Entreprise</a></li>
            <li><a href="">Nos Prestations</a></li>
            <li><a href="">Nous contacter</a></li>
        </ul>
    </nav>
</section>
<style>
    section{
        max-height: 300px;
        background: rgba(255, 255, 255, 0.459);
        display: grid;
        grid-template-columns: repeat(3,1);
        grid-template-rows: repeat(2,1fr);
    }
    .name{
        grid-column: 1;
        grid-row: 1/3;
        padding: 1rem 1rem;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 3rem;
    }

    .name>a{
        margin-left: 1rem;
    }

    .contact{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem;
        grid-column: 3;
        grid-row: 1/3;
    }
    .contact>ul>li{
        margin: 0.5rem;
        display: flex;
        align-items: center;
    }
    .contact>ul>li>img{
        margin-right: 0.5rem;
    }
    .social{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .social>li>a{
        margin-right: 1rem;
    }
    nav{
        grid-column: 1/4;
        grid-row: 3;
        border-bottom: 1px solid black;
        background: rgba(255, 255, 255, 0.459);

    }
    nav>ul{
        display: flex;
        justify-content: space-around;
        padding: 0.5rem 0;
    }
    @media(max-width:750px){
        section{
            display: flex;
            flex-direction: column;
        }
        .contact{
            align-self: center;
        }
        .name{
            flex-direction: column;
            font-size: 2rem;
        }
        
        .name>img{
            display: none;
        }
    }
</style>