---
import "../styles/customProperties.css";
import "../styles/global.css";
import data from "../datas/entreprise.json";
 const {title} = Astro.props;
---
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={data.favicon} />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={data.metaDescription}>
		<title>{`${data.entreprise}--${title}`}</title>
	</head>
	<body>
		<slot />
	</body>
</html>